/*-------------------- Font selection --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');



/*-------------------- Generic Styling --------------------*/
body{
    background-color: black;
}

.hero-heading{
    font-family: 'Monoton', cursive;
    padding-top: 50px;
    color: #94929b;
    font-size: 50px;
}

.intro-text{
    color:#94929b;
    text-align: center; 
}

/*-------------------- Count Down Styling  --------------------*/
.bro-title{
    font-family: 'Monoton', cursive;
    color: #94929b;
    margin-top: 50px;
    font-size: 150px;
}

#time-left{
    font-size: 150px;
    padding-bottom: 50px;
    color: #94929b;
}

#start-button{
    font-size: 50px;
    border-color: #94929b;
    background-color: #94929b;
}

/*-------------------- Nav bar based on https://codepen.io/kesavaraj/pen/MWWPXLa --------------------*/
.navbar {
  background-color:#333238;
}
nav {
  height:130px;
}
.navbar-nav {
  margin:auto;
}
.nav-link {
  margin:10px 25px;
  color:#aba69b;
  font-family: 'Monoton', cursive;
}
.nav-link:hover {
  color:yellow;
}
.box {
  width:100%;
  height:30px;
  background-color:#333238;
  position:relative;
}
.box-1 {
  width:50%;
  background-color:#000000;
  height:100%;
  border-radius:0px 40px 0px 0px;
  border-top:5px solid #aba599;
  border-right:5px solid #aba599;
}
.box-2 {
  position:absolute;
  background-color:#000000;
  height:100%;
  width:50%;
  right:0;
  top:0;
  border-radius:40px 0px 0px 0px;
  border-top:5px solid #aba599;
  border-left:5px solid #aba599;
}



/*-------------------- Footer Styling --------------------*/

.social-button{
    color: #aba599;
}

.footer-copyright, a{
    text-decoration: none;
    color:#aba599;
}