/*-------------------- Font selection --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');



/*-------------------- Generic Styling --------------------*/
body{
    background-color: black;
    text-align: center;
    color: #94929b;
}

.hero-heading{
    font-family: 'Monoton', cursive;
    padding-top: 50px;
    color: #94929b;
    font-size: 50px;
}

h1, h2, h3{
    text-align: center;
    color: #94929b;
    padding-top: 25px;
    padding-bottom: 25px;
}

.intro-text{
    color:#94929b;
    text-align: center; 
    padding-bottom: 25px;
}

.introduction{
    font-family: 'Monoton', cursive;
    word-spacing: 1em;
}



/*-------------------- Count Down Styling  --------------------*/
.bro-title{
    font-family: 'Monoton', cursive;
    color: #94929b;
    margin-top: 50px;
    font-size: 150px;
}

#time-left{
    font-size: 150px;
    padding-bottom: 50px;
    color: #94929b;
}

#start-button{
    font-size: 50px;
    border-color: #94929b;
    background-color: #94929b;
}

/*-------------------- Nav bar based on https://codepen.io/kesavaraj/pen/MWWPXLa --------------------*/
.navbar {
  background-color:#333238;
  
}
nav {
  height:130px;
}
.navbar-nav {
  margin:auto;
}
.nav-link {
  margin:10px 25px;
  color:#aba69b;
  font-family: 'Monoton', cursive;
}
.nav-link:hover {
  color:yellow;
}
.box {
  width:100%;
  height:30px;
  background-color:#333238;
  position:relative;
}
.box-1 {
  width:50%;
  background-color:#000000;
  height:100%;
  border-radius:0px 40px 0px 0px;
  border-top:5px solid #aba599;
  border-right:5px solid #aba599;
}
.box-2 {
  position:absolute;
  background-color:#000000;
  height:100%;
  width:50%;
  right:0;
  top:0;
  border-radius:40px 0px 0px 0px;
  border-top:5px solid #aba599;
  border-left:5px solid #aba599;
}

/*-------------------- Tournament Styling --------------------*/

.player-input{
    width: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #333238;
}

.bracket-2, .bracket-4, .bracker-8{
    margin-top: 50px
}

.line-1{
    
    color: #aba599;
    background-color:#aba599; 
    border-width: 0;
    height: 2px;
    width: 50%;
}

.Btn-tournament{
    margin-left: 11px;
    margin-top: 11px;
    margin-bottom: 11px;
    height: calc(1.5em + 0.75rem + 2px);
}

/*-------------------- Footer Styling --------------------*/

.social-button{
    color: #aba599;
}

.footer-copyright, a{
    text-decoration: none;
    color:#aba599;
}
